#InputField {
  width: 25vw;
  height: 4vh;
  border: 2px solid lightgrey;
  border-radius: 11px;
  padding: 5px 11px;
  color: #bbb;
  outline: none;
  transition: 0.3s;
  font-family: var(--Headline);
  cursor: pointer;
}
#InputField:hover {
  border: 2px solid #28282b;
}
